@charset "UTF-8";
body {
  background-color: #e5e5e5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body .skills-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0px;
}

body .main {
  width: 1200px;
}
body .company_list {
  width: 525px;
  padding: 0 0 0 14px;
}
body h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0;
}
body h1 {
  margin-bottom: 19px;
}
body .work_experience h4 > a,
body .education-title h4 > a {
  text-decoration: none;
  color: #6d9bf5;
}
body .wrapper {
  background-color: #fff;
  box-shadow: 2px 4px 10px 2px rgba(187, 182, 182, 0.6352941176);
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
body .main {
  padding: 88px;
}
body .About_Me {
  margin-bottom: 64px;
}
body .About_Me h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}
body .About_Me p {
  font-style: normal;
  width: 525px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 28px 0;
  color: #595959;
}
body .projects {
  margin-bottom: 48px;
}
body .projects h3 {
  margin: 0 0 8px 0;
}
body .projects .order_list_style {
  font-weight: 700;
}
body .projects .order_list_style span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
body .projects .order_list_style a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}
body .projects ol {
  padding: 0 0 0 16px;
  margin: 0px;
}
body .work_experience {
  margin-bottom: 44px;
}
body .work_experience h4 {
  padding: 12px 0 12px 0;
  margin: 0;
}
body .work_experience p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0;
  padding: 0;
}
body .work_experience p span {
  color: #000000;
  margin: 0px 7px 0px 7px;
  font-size: 12px;
}
body .work_experience ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
body .container ul li {
  list-style: none;
}
body .container ul li::before {
  padding-right: 10px;
  font-weight: bold;
  width: 1em;
  margin-left: -1em;
  content: "•";
  color: #6d9bf5;
}
body aside {
  background-color: #e0ebfe;
  width: 370px;
}
body aside .contacts p > a {
  color: #2979ff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
body aside .container {
  margin: 48px 0 0 40px;
}
body aside .container a {
  padding-left: 10px;
}
body aside .container p {
  margin: 0;
}
body aside .container p > span {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
body aside .container ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
body aside .container ul {
  margin: 0;
  padding: 10px 0 0 15px;
}
body aside .skills-title {
  color: #161d2a;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.9rem;
}
body .education-title .date-info {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: #a8a8a8;
  padding: 12px 0 0 0;
  margin: 0;
}
body .education-title h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #000000;
  margin: 0;
  padding: 12px 0 0 0;
}
body .education-title h4 a p {
  margin: 0;
  padding: 12px 0 0px 0;
}
body .education-title h4 span {
  color: #000000;
  padding: 0 7px 0 7px;
}

.first_dashed,
.second_dashed,
.third_dashed {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  border: 0.5px dashed #a8a8a8;
  height: 0px;
}

.first_dashed {
  top: 18px;
  width: 220px;
}

.second_dashed {
  left: 0px;
  top: 18px;
  width: 194px;
}

.third_dashed {
  width: 213px;
  top: 18px;
}

ol li p {
  display: flex;
}

@media (max-width: 999px) {
  .main {
    flex-direction: column;
    margin: 0 auto;
  }
  body {
    overflow-x: hidden;
    width: 600px;
  }
  body .my_photo {
    width: 400px;
  }
  body aside {
    width: 0px;
    display: block;
    position: relative;
    top: 1400px;
  }
  body aside .image_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */