body {
  .skills-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0px;
  }
  background-color: #e5e5e5;
  // padding: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  .main {
    width: 1200px;
  }
  .company_list {
    width: 525px;
    padding: 0 0 0 14px;
  }
  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  h1 {
    margin-bottom: 19px;
  }
  .work_experience,
  .education-title {
    h4 > a {
      text-decoration: none;
      color: #6d9bf5;
    }
  }
  .wrapper {
    background-color: #fff;
    box-shadow: 2px 4px 10px 2px #bbb6b6a2;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
  }
  .main {
    padding: 88px;
  }
  .About_Me {
    margin-bottom: 64px;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
      color: #000000;
    }
    p {
      font-style: normal;
      width: 525px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      margin: 0 0 28px 0;
      color: #595959;
    }
  }
  // projects
  .projects {
    margin-bottom: 48px;
    h3 {
      margin: 0 0 8px 0;
    }
    .order_list_style {
      font-weight: 700;
    }
    .order_list_style {
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
      }
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #005fff;
      }
    }
    ol {
      padding: 0 0 0 16px;
      margin: 0px;
    }
  }
  .work_experience {
    margin-bottom: 44px;
    h4 {
      padding: 12px 0 12px 0;
      margin: 0;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #a8a8a8;
      margin: 0;
      padding: 0;
      span {
        color: #000000;
        margin: 0px 7px 0px 7px;
        font-size: 12px;
      }
    }
    ul li {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
    }
  }
  .container {
    ul li {
      list-style: none;
    }
    ul li::before {
      padding-right: 10px;
      font-weight: bold;
      width: 1em;
      margin-left: -1em;
      content: "\2022";
      color: #6d9bf5;
    }
  }
  // Side-Bar
  aside {
    background-color: #e0ebfe;
    width: 370px;
    .contacts {
      p > a {
        color: #2979ff;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
    }
    .container {
      margin: 48px 0 0 40px;
      a {
        padding-left: 10px;
      }
      p {
        margin: 0;
      }
      p > span {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
      }
      ul li {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
      ul {
        margin: 0;
        padding: 10px 0 0 15px;
      }
    }
    .skills-title {
      color: #161d2a;
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.9rem;
    }
  }
  .education-title {
    .date-info {
      font-style: normal;
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 0.9rem;
      color: #a8a8a8;
      padding: 12px 0 0 0;
      margin: 0;
    }
    h5 {
      font-style: normal;
      font-weight: 700;
      font-size: 0.9rem;
      line-height: 1rem;
      color: #000000;
      margin: 0;
      padding: 12px 0 0 0;
    }
    h4 {
      a {
        p {
          margin: 0;
          padding: 12px 0 0px 0;
        }
      }
      span {
        color: #000000;
        padding: 0 7px 0 7px;
      }
    }
  }
}
// DASHED, FUCKING YES
.first_dashed,
.second_dashed,
.third_dashed {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  border: 0.5px dashed #a8a8a8;
  height: 0px;
}
.first_dashed {
  top: 18px;
  width: 220px;
}
.second_dashed {
  left: 0px;
  top: 18px;
  width: 194px;
}
.third_dashed {
  width: 213px;
  top: 18px;
}
ol li p {
  display: flex;
}

@media (max-width: 999px) {
  .main {
    flex-direction: column;
    margin: 0 auto;
  }
  body {
    overflow-x: hidden;
    width: 600px;
    .my_photo {
      width: 400px;
    }
    aside {
      .image_container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      width: 0px;
      display: block;
      position: relative;
      top: 1400px;
    }
  }
}
